.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #a9d0f7;
    color: white;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    background-color: aliceblue;
    gap: 20px;
    cursor: pointer;
}