.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  border-bottom: 2px solid rgba(167, 157, 157, 0.08);
  flex: 1;
  height:fit-content;
}
.nav-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.nav-logo img{
  height: 80px;
  width: auto;
  flex-shrink: 1;
}
.nav-logo p{
    margin-top: -15%;
    color: slategrey;
    font-size: 30%;
    font-weight: 1000;
    flex: 1;
    flex-wrap: wrap;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 150px;
    font-size: 0px;
    font-weight: 1000;
}
.nav-menu li{
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-size: 20px;
}
.nav-menu hr{
    margin: -5px;
    border: none;
    width: 70%;
    height: 2px;
    border-radius: 10px;
    background: rgb(54, 206, 206);
}

.nev-login-cart{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: -10px;
    flex-shrink: 1;
}
.nev-login-cart button{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 70px;
    height: 30px;
    outline: none;
    border: 2px solid orangered;
    border-radius: 15%;
    font-size: 15px;
    font-weight: 700;
    color: brown;
    background: rgb(238, 237, 237);
    cursor: pointer;
    margin-right: -40px;
}
.nev-login-cart button:active{
    background: rgb(219, 218, 218);
}
.nev-login-cart img{
  margin-top: 20%;
  height: 30px;
  width: auto;
}
.nev-login-cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    background-color: orange;
}
